stages:
  - test
  - build
  - publish
  - sync

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-commits-signoffs.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-docker-build.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-docker-deploy.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'

test:check-python3-formatting:
  stage: test
  needs: []
  image: python:3
  before_script:
    - pip install tox
    - cd backend
  script:
    - TOXENV=flake8 tox

build:docker:
  variables:
    DOCKER_REPOSITORY: mendersoftware/mantra-api
    DOCKER_DIR: backend
  only:
    changes:
      - tetra/**/*

publish:image:
  variables:
    DOCKER_REPOSITORY: mendersoftware/mantra-api
    DOCKER_DIR: backend
  only:
    changes:
      - tetra/**/*

sync:image:
  variables:
    DOCKER_REPOSITORY: mendersoftware/mantra-api
    TARGET_MANIFEST_FILE: kubernetes/mender-qastatus/api-deployment.yaml
  only:
    changes:
      - tetra/**/*

build:docker:ui:
  extends: build:docker
  variables:
    DOCKER_REPOSITORY: mendersoftware/mantra-ui
    DOCKER_DIR: ui
  only:
    changes:
      - ui/**/*

publish:image:ui:
  extends: publish:image
  dependencies:
    - build:docker:ui
  variables:
    DOCKER_REPOSITORY: mendersoftware/mantra-ui
    DOCKER_DIR: ui
  only:
    changes:
      - ui/**/*

sync:image:ui:
  extends: sync:image
  dependencies:
    - publish:image:ui
  variables:
    DOCKER_REPOSITORY: mendersoftware/mantra-ui
    TARGET_MANIFEST_FILE: kubernetes/mender-qastatus/ui-deployment.yaml
  only:
    changes:
      - ui/**/*
